name: Build
on: [pull_request, push, workflow_dispatch]
jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.3

    - name: Restore NuGet packages
      run: nuget restore ${{env.SOLUTION_FILE_PATH}}

    - name: Build
      run: msbuild /m /p:Platform="Any CPU" /p:Configuration=Release Syroot.KartPainter.sln
        
    - name: Upload Binaries
      uses: actions/upload-artifact@v3
      with:
          name: x86
          path: "KartPainter.exe"
